:host {
  display: flex;
}

app-sidebar {
  width: 200px;
  background-color: #f4f4f4;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.content {
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 220px);
}